<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <p>{{ name }}</p>
    </div>
    <script src="js/app.js"></script>
</body>
</html>