<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="secondCounter++">Increase second</button>
        <button v-on:click="counter--">Decrease</button>
        <button v-on:click="secondCounter--">Decrease second</button>
        <p>Counter: {{ counter }} | {{ secondCounter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>
    <script src="js/app.js"></script>
</body>
</html>