<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="exercise">
        <!-- 1) Show an alert when the Button gets clicked -->
        <div>
            <button v-on:click="alertIt">Show Alert</button>
        </div>
        <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
        <div>
            <input type="text" @keydown="takeVal">
            <p>{{ value }}</p>
        </div>
        <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
        <div>
            <input type="text" @keydown.enter="takeOther">
            <p>{{ secondVal }}</p>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>



