<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <hr>
        <ul style="list-style-type: none;">
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ i+1 }}) {{ ingredient }}</li>
        </ul>
        <input type="text" v-model="name">
        <button @click="ingredients.push(name)">Add new</button>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(val, key, index) in person">{{ key }}: <a href="">{{ val }}</a>({{ index }})</div>
            </li>
        </ul>
        <ul>
            <li v-for="n in 10">{{ n }}</li>
        </ul>
        <hr>
    </div>
    <script src="js/app.js"></script>
</body>
</html>