<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app" v-on:mousemove="changeCoords">
        <button v-on:click="increase(2, $event)" v-on:mousemove.stop="">Click me!</button>
        <button v-on:click="counter++" v-on:mousemove.stop="">Click me!</button>
        <p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
        <p v-on:mousemove="dummy">{{ x }} : {{ y }}</p>
        <input type="text" v-on:keyup.enter="alertMe">
    </div>
    <script src="js/app.js"></script>
</body>
</html>