<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        <input type="text" v-on:input="changeTitle"/>
        <p>{{ title }}</p>
        <p>{{ sayHello() }}</p>
        <a v-bind:href="link">Google</a>
        <hr>
        <p v-html="finishedLink"></p>
    </div>
    <script>
        new Vue({
            el:'#app',
            data: {
                title: 'Hello world!',
                link: 'http://google.com',
                finishedLink: '<a href="http://google.com">Google</a>'
            },
            methods: {
                changeTitle: function(e) {
                    this.title = e.target.value;
                },
                sayHello: function(){
                    this.title = "Hello!";
                    return this.title;
                },
            },
        });
    </script>
</body>
</html>